<div class="container">    
    <div class="row" >   
        <accordion>
            <accordion-group ng-repeat="docs in stocksList track by $index" is-open="docs.status.open">
                <accordion-heading>
                    {{docs.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':docs.status.open, 'glyphicon-chevron-right': !docs.status.open}"></i>
                </accordion-heading>
                <blockquote>
                    <p>Description</p>
                    <footer>{{docs.description}}</footer>
                </blockquote>
                <blockquote>
                    <p>Frequency</p>
                    <footer>{{docs.frequency}}</footer>
                </blockquote>
                <blockquote>
                    <p>From Date</p>
                    <footer>{{docs.from_date}}</footer>
                </blockquote>
                <blockquote>
                    <p>To Date</p>
                    <footer>{{docs.to_date}}</footer>
                </blockquote>
                <button class="btn btn-default" ng-click="docs.status.isCollapsed = !docs.status.isCollapsed">Show Indexes</button>
                <hr />
                <div collapse="!docs.status.isCollapsed">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-md-2" ng-repeat="column in docs.column_names"><strong>{{column}}</strong></div>                            
                        </div>
                        <div class="row" ng-repeat="dataRow in docs.data track by $index">
                            <div class="col-md-2" ng-repeat="data in dataRow track by $index">{{data}}</div>                            
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>